body, html {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  overflow-x: hidden;
  transition: $tr;
  color: #FFF;
  background-color: #000;
  @include phone {
    font-size: 14px;
    line-height: 22px;
  }
}

.toanimate {
  visibility: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 11px;
  margin: 0 auto;
  @include phone {
    padding: 0 15px;
  }
}

.min-container {
  max-width: 752px;
  padding: 0 11px;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  line-height: 39px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  @include phone {
    font-size: 20px;
    line-height: 28px;
  }
}

.text {
  font-size: 16px;
  line-height: 26px;
  color: #FFF;
  @include phone {
    font-size: 14px;
    line-height: 20px;
  }
}

h1, h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;

  @include phone {
    font-size: 25px;
    line-height: 35px;
  }
}

#fp-nav.fp-right {
  @include phone {
    right: 5px;
  }
}

@-moz-keyframes spin {
  50% {
    -moz-transform: rotate(180deg) scale(.7);
  }
  100% {
    -moz-transform: rotate(360deg) scale(1);
  }
}

@-webkit-keyframes spin {
  50% {
    -webkit-transform: rotate(180deg) scale(.7);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
  }
}

@keyframes spin {
  50% {
    -webkit-transform: rotate(180deg) scale(.7);
    transform: rotate(180deg) scale(.7);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}


