
.footer {
  background-color: #000;
  color: #fff;
  font-weight: 400;
  @include phone {
    padding-top: 20px;
  }
}

.footer-title {
  font-family: "Times New Roman";
  text-transform: uppercase;
  font-size: 24px;
  line-height: 39px;
  font-weight: bold;
  margin-bottom: 32px;
  display: block;
  transition: $tr;

  &:hover {
    color: $red;
  }

  i {
    font-style: normal;
    font-size: 30px;
    @include phone {
      font-size: 22px;
    }
  }

  @include phone {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 15px;
  }
}

.footer-description {
  font-size: 15px;
  margin-bottom: 49px;

  @include phone {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 5px;
  }
}

.footer-sections-container {
  display: flex;
  margin: 0 -15px;
  @include phone {
    flex-direction: column;
  }
}

.footer-section-title {
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, .5);
  font-weight: 900;
  font-family: 'Inter', Arial, sans-serif;
  margin-bottom: 20px;
  padding: 0 !important;
  @include phone {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 5px;
  }
}

.footer-menu {
  &-link {
    display: block;
    padding: 10px 0;
    transition: $tr;

    &:hover {
      color: $red;
    }

    @include phone {
      padding: 5px 0;
    }

    &.contacts {
      padding: 0;
      font-size: 14px;
      @include phone {
        font-size: 12px;
      }
    }
  }

  p {
    padding: 10px 0;
  }

  a {
    &:hover {
      color: $red
    }
  }
}

.footer-section {
  margin: 15px;
  width: 100%;

  .whatsapp-icon {
    @include phone {
      margin-left: 15px;
    }
  }

  @include phone {
    margin: 0;
    padding: 15px;
  }
}

.social-link {
  @include flex-align-center;
  transition: $tr;
  font-size: 14px;
  white-space: nowrap;
  color: $red;
  @include phone {
    font-size: 12px;
  }
}

.facebook {
  --icon-bg: #3B5998;
  margin-bottom: 10px;

}

.whatsapp-icon {
  --icon-bg: #00e676;
  -webkit-animation: fadeIcon 8s forwards infinite;
  animation: fadeIcon 8s forwards infinite;
  opacity: 0;
  max-width: 235px;
  justify-content: center;
  text-align: center;
  width: 100%;

  svg {
    width: 48px;
    height: 48px;
    min-width: 48px;
    margin-right: 10px;
    z-index: 1;
    position: relative;
  }

  span {
    display: block;
    max-width: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: slideTextFooter 8s forwards infinite;
    animation: slideTextFooter 8s forwards infinite;
  }
  @include phone {
    max-width: 205px;
  }
}

@keyframes fadeIcon {
  0%, 80%, 100% {
    opacity: 0;
  }
  5%, 75% {
    opacity: 1;
  }
}

@keyframes slideTextFooter {
  0%, 75%, 100% {
    max-width: 0;
    transform: translateX(-50px);
  }
  10%, 65% {
    max-width: 170px;
    transform: translateX(0);
  }
}
@include phone {
  @keyframes slideTextFooter {
    0%, 75%, 100% {
      max-width: 0;
      transform: translateX(-50px);
    }
    10%, 65% {
      max-width: 150px;
      transform: translateX(0);
    }
  }
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 48px;
  height: 48px;
  position: relative;

  svg {
    width: 22px;
    height: 22px;
    position: relative;
    z-index: 1;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    background: var(--icon-outline, var(--icon-bg, #000));
    -webkit-mask-image: url(../img/mask.svg);
    mask-image: url(../img/mask.svg);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  &:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    background-color: #000;
    background: var(--icon-bg, #000);
    -webkit-mask-image: url(../img/mask_bg.svg);
    mask-image: url(../img/mask_bg.svg);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
}

.footer-social {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: -50px;

  @include phone {
    margin: 0 0 0 10px;
    padding: 5px;
    flex-direction: row;
  }
}