header {
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;

  .btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 0 20px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }
}

.btn-menu {
  display: block;
  position: relative;
  width: 35px;
  height: 23px;
  transition: $tr;

  &.active {
    width: 26px;
    height: 26px;
    z-index: 100;

    &:hover::before, &:hover::after, &:hover .line {
      border-color: $red;
    }

    &::before {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }

    &::after {
      top: 50%;
      bottom: unset;
      transform: translateY(-50%) rotate(-45deg);
    }

    .line {
      opacity: 0;
    }
  }

  &::after, &::before {
    content: '';
  }

  .line, &::after, &::before {
    display: block;
    width: 100%;
    border-bottom: 2px solid $red;
    transition: $tr;
    position: absolute;
    left: 0;
  }

  &::after {
    bottom: 0;
  }

  &::before {
    top: 0;
  }

  &:hover .line, &:hover::after, &:hover::before {
    border-color: #FFF;
  }
}


.header-menu {
  background: rgba(18, 18, 18, 0.6);
  top: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  transition: $tr;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;

  .container {
    @include phone {
      justify-content: unset;
      padding: 0 5px;
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;

    & .header-menu-list {
      transform: translateX(0);
    }
  }

  &-list {
    cursor: default;
    padding: 60px 10px 0 0;
    transition: $tr;
    display: flex;
    flex-direction: column;
    height: 100%;
    transform: translateX(100%);
    color: #000;

    &::after {
      display: block;
      content: '';
      height: 100%;
      width: 100vw;
      background-color: #FFF;
      top: 0;
      position: absolute;
      z-index: -1;
      margin-left: -43px;
      @include phone {
        width: calc(100% + 25px);
        margin-left: -22px;
      }
    }

    @include phone {
      padding: 50px 10px 20px;
      width: 100%;
    }
  }

  &-link {
    @include flex-align-center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    @include phone {
      font-size: 14px;
    }

    svg {
      width: 32px;
      height: 32px;
      margin-left: 15px;
    }
  }

  &-item {
    margin-bottom: 30px;
    transition: $tr;
    .social-link {
      flex-direction: row-reverse;
      svg {
        margin: 0 0 0 5px;
      }
      span {
        -webkit-animation: slideTextHeader 8s forwards infinite;
        animation: slideTextHeader 8s forwards infinite;
      }
      @keyframes slideTextHeader {
        0%, 75%, 100% {
          max-width: 0;
          transform: translateX(50px);
        }
        10%, 65% {
          max-width: 170px;
          transform: translateX(0);
        }
      }
      @include phone {
        @keyframes slideTextHeader {
          0%, 75%, 100% {
            max-width: 0;
            transform: translateX(50px);
          }
          10%, 65% {
            max-width: 150px;
            transform: translateX(0);
          }
        }
      }
    }

    &:hover {
      color: $red
    }

    &:last-child {
      margin-top: auto;
    }
  }
}