.main-section {
  position: relative;
  background-size: cover;
  color: #fff;
  text-align: left;

  .fp-scroller {
    height: 100%;
  }

  video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    right: 0;
    bottom: 0;
    z-index: -2;
  }

  .text {
    margin-top: 16px;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    max-width: 640px;
    width: 100%;
    border-left: 3px solid $red;
    padding-left: 25px;
    margin-left: 5px;
    text-shadow: 3px 3px 0px #f2f2f242;

    opacity: 0;
    @include phone {
      margin-top: 10px;
    }

    &.animated {
      -webkit-animation: slideText 10s forwards infinite;
      -webkit-animation-delay: 1s;
      animation: slideText 10s forwards infinite;
      animation-delay: 1s;
    }
  }

  .title {
    font-family: "Times New Roman";
    font-size: 55px;
    line-height: 70px;
    text-transform: uppercase;
    overflow: hidden;
    width: 100%;
    text-shadow: 3px 3px 0px #73717175;
    max-width: 0;

    &.animated {
      -webkit-animation: slideTitle 10s forwards infinite;
      -webkit-animation-delay: .5s;
      animation: slideTitle 10s forwards infinite;
      animation-delay: .5s;
    }

    span {
      display: block;
      white-space: nowrap;
    }

    i {
      font-style: normal;
      font-size: 70px;
    }
  }
}

@keyframes slideTitle {
  0%, 80%, 100% {
    max-width: 0;
    transform: translateX(50px);
  }
  10%, 70% {
    max-width: 1200px;
    transform: translateX(0px);
  }
}

@keyframes slideText {
  0%, 68%, 100% {
    opacity: 0;
    transform: translateY(-60px);
  }
  10%, 62% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.second-section, .third-section, .fourth-section, .seventh-section {
  background: #000;
  background-size: cover;
  color: #fff;

  .text {
    margin-top: 25px;
  }

  .title {
  }
}

.second-section {
  .title {
    margin-bottom: 62px;
  }
}

.second-section, .third-section {
  .title {
    font-family: "Times New Roman";
    text-transform: uppercase;

    i {
      font-style: normal;
      font-size: 42px;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .fund-block {
    padding: 0 20px;
    flex: 1;
  }

  .text {
    margin-top: 20px;

    span {
      font-family: "Times New Roman";
      text-transform: uppercase;

      i {
        font-style: normal;
        font-size: 20px;
      }
    }

    &.undertitle {
      font-size: 20px;
      line-height: 32px;
    }

    @include phone {
      &:nth-of-type(3), &:nth-of-type(4) {
        display: none;
      }
    }
  }
}

.third-section {
  display: none;
}

.fourth-section {
  background-color: #000;
  color: #FFF;

  .container {
    @include flex-align-center;
    @include phone {
      align-items: stretch;
      flex-direction: column;
      padding: 100px 11px;
    }
  }

  .title {
    font-size: 32px;
    line-height: 39px;
    font-weight: 700;

    span {
      border-bottom: 3px solid $red;
      padding-bottom: 20px;
    }

    @include phone {
      font-size: 16px;
      line-height: 26px;
    }
  }

  .text {
    font-size: 20px;
    line-height: 32px;
    margin-top: 40px;

    span {
      font-size: 24px;
    }

    @include phone {
      margin-top: 20px;
      font-size: 16px;
      line-height: 26px;
    }
  }

  &-description-container {
    flex: 1;
    padding: 0 20px;
    @include phone {
      order: 2;
    }
  }

  &-photo-container {
    padding: 0 20px;
    flex: 1;
    display: flex;

    @include phone {
      max-width: 100%;
      order: 1;
      margin-bottom: 10px;
      margin-top: -50px;
    }

    img {
      width: 100%;
      max-width: 400px;
      border-radius: 4px;
    }
  }
}


.download-pdf {
  @include flex-align-center;
  transition: $tr;
  color: $red;
  margin-top: 10px;
  margin-left: 24px;

  &:hover {
    color: #B8B8B8;

    svg path {
      fill: #B8B8B8
    }

    span {
      border-color: #B8B8B8;
    }
  }

  svg {
    width: 20px;
    margin-right: 14px;

    path {
      transition: $tr;
      fill: $red;
    }
  }

  span {
    transition: $tr;
    border-bottom: 1px solid $red;
    @include phone {
      border-bottom: none;
      text-align: left;
    }
  }

  @include phone {
    align-items: flex-start;
    margin-left: 0;
  }
}

.sixth-section {
  background-color: #FFF;
  text-align: center;

  .title {
    color: $dark;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .container {
    padding: 0 24px;
    max-width: 1000px;
  }
}

.section-table {
  @include phone {
    margin: 0 -11px;
  }

  li {
    border-top: 1px solid #f3f3f3;
    padding: 16px 24px;
    font-size: 16px;
    display: flex;
    text-align: left;
    color: #535353;

    @include phone {
      font-size: 14px;
      padding: 15px;
      flex-direction: column;
    }

    &:nth-child(2n+1) {
      background-color: #fbfbfb;
    }

    .cell {
      flex: 1;
      margin-right: 35px;

      &:last-child {
        margin-right: 0;
      }

      @include phone {
        margin-right: 0;
      }
    }
  }

  .table-text {
    color: $dark;
    font-weight: 700;
    @include phone {
      margin-top: 5px;
    }
  }
}

.seventh-section {
  text-align: center;
}

.algorithms-container {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  @include phone {
    margin-top: 40px;
    justify-content: unset;
    flex-direction: column;
    align-items: center;
  }
}

.algorithms-item {
  padding: 0 20px;
  width: 100%;
  max-width: 50%;
  text-align: left;
  position: relative;
  margin-top: 65px;

  &:nth-of-type(2) {
    align-self: flex-end;
  }

  @include phone {
    margin-bottom: 40px;
  }
}

//.algorithms-icon-container {
//  @include flex-center;
//  margin: 0 auto 38px;
//  background: rgba(250, 82, 85, 0.48);
//  box-shadow: 1px 4px 15px 1px rgba(0, 0, 0, 0.15);
//  width: 114px;
//  height: 114px;
//  position: relative;
//  border-radius: 50%;
//
//  svg {
//    width: 49px;
//  }
//
//  span {
//    @include flex-center;
//    width: 39px;
//    height: 39px;
//    background-color: #fff;
//    border-radius: 50%;
//    position: absolute;
//    color: $dark;
//    top: 0;
//    right: 0;
//    z-index: 1;
//  }
//}

.algorithms-step-container {
  font-weight: 700;
  font-size: 200px;
  font-family: 'Inter', sans-serif;
  color: #535353;
  position: absolute;
  left: 16px;
  top: -30px;
  z-index: -1;
  display: block;

  span {
    font-size: 18px;
    color: #FFF;
    display: block;
    position: absolute;
    top: -66px;
    right: -26px;
  }
}

.algorithms-title {
  font-size: 24px;
  line-height: 39px;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
}

.algorithms-descr {
  color: $white;

  a {
    white-space: nowrap;
    display: block;
    transition: $tr;
    color: $red
  }
}

.eighth-section {
  background-color: #666666;
  color: #FFF;
  text-align: center;

  .title {
    margin-bottom: 40px;
  }

  .container {
    padding: 0 24px;
  }
}

.advantages-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.advantages-item {
  text-align: center;
  position: relative;
  padding: 0 20px;
  width: 100%;
  max-width: 50%;
  margin-bottom: 30px;
}

.advantage-icon {
  display: flex;
  justify-content: center;
  svg {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    fill: #fff;
  }
}

.advantage-title {
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  line-height: 39px;
  margin-bottom: 15px;
}
